@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&amp;display=swap');

* {
    font-family: 'Inter', sans-serif;
}

:root {
    --title-green: #0a3186;
    --title-orange: #1e4175;
    --title-yellow: #248dad;
    --title-blue: #43c2e7;
    --subtitle-grey: #798289;
    --background-grey: #EBECED;
    --background-yellow: rgba(250, 176, 23, .9);
}